<div class="container">
  <div class="row">
    <h2>Create Event</h2>
  </div>

  <form class="col s12" ng-submit="submit()" method="post">

    <div class="row">
      <div class="input-field col s12">
        <input id="title" type="text" class="validate" ng-model="eventForm.title">
        <label for="title">Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s3">
        <input id="date" type="date" class="datepicker" ng-model="eventForm.date">
        <label for="date">Date</label>
      </div>

      <div class="input-field col s3">
        <input id="time" input-clock data-twelvehour="false" type="text" ng-model="eventForm.time">
        <label for="time">Time</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Name of venue" id="venue" type="text" class="validate" ng-model="eventForm.venue">
        <label for="first_name">Venue</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="Venue address" id="address" type="text" class="validate" ng-model="eventForm.address">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <textarea id="rehearsals" class="mateialize-textarea" ng-model="eventForm.rehearsals"></textarea>
        <label for="rehearsals">list rehearsal dates, times, and locations</label>
      </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>

  </form>
</div>

<div class="main">

  <div class="row">
    <div class="col s6">
      <div id="eventsById" class="" ng-repeat="event in $state.events">
        <h4>{{ event.title }}</h4>
        <p>{{ event.date }} {{ event.time }}</p>
        <p>{{ event.venue }}</p>
        <p>{{  event.address }}<p>
        <p>{{  event.rehearsals }}</p>
      </div>
    </div>

    <div class="col s6">
      <div id="musicians" class="" ng-repeat="musician in $state.musicians">
        <h3><a src="{{ /profile/:id }}"></a>{{ musician.name }}</h3>
        <h4>{{ musician.main }}</h4>
        <img src="{{ mucician.image }}" alt="" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="">
      <a class="waves-effect waves-light btn">Create New Event</a>
    </div>
  </div>

</div>
