<nav>
  <div style="background-color:#d36645" class="nav-wrapper"  ng-controller="NavbarController">
    <div class='row'>
      <div class='col s12'>
        <a href="/" class="brand-logo">Music Contractor</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li ng-repeat="item in nav.menu" ui-sref-active="active">
              <a ui-sref="{{item.state}}">{{item.title}}</a>
          </li>
          <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
          <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
          <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
          <li ng-show="nav.isLoggedIn()">Hello {{ nav.getCurrentUser().name }}</li>
          <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
          <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
