<div class="container">
  <div class="row">
    <div class="col s7">
      <h3 class="title">Musician Profile</h3>
    </div>
  </div>

  <div class="row">

    <div class="col s4">
      <img style="max-width" src="{{ vm.musician.imageURL }}"/>
      <h3>{{ vm.musician.first }} {{ vm.musician.last }}</h3>
      <h4>{{ vm.musician.instrument }}</h4>
    </div>

    <div class="col s8">
      <div class="row">
        <h5>{{ vm.musician.bio }}</h5>
      </div>
      <div class="row">
        <h5>Gigs:</h5>
        <div id="myGigs" class="" ng-repeat="event in vm.gigs">
          <a ui-sref="bookEvent({id: event.id})"><h4>{{ event.title }}</h4></a>
          <div class="row">
            <button class="btn waves-effect waves-light" ng-click="vm.isAccepted = vm.isAccepted ? false : true">Accept</button>
              <div ng-hide="vm.isAccepted"></div><br>

              <button class="btn waves-effect waves-light" ng-click="vm.isAccepted = vm.isAccepted ? false : true">Decline</button>
                <div ng-hide="!vm.isAccepted"></div>
          </div>


          <p><strong>Date: </strong>{{ event.date }} <strong>Time: </strong>{{ event.time }}</p>
          <p><strong>Venue: </strong>{{ event.venue }}</p>
          <p><strong>Address: </strong>{{  event.address }}<p>
          <p><strong>Rehearsal Info: </strong>{{  event.notes }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
